body {
    background-color: rgb(27, 30, 56);
}
.title {
    margin-top: 25px;
    font-size: 75px;
    color: white;
}
.bodything {
    border: 3px solid rgb(255, 227, 70);
}
.googlefont {
    font-family: 'Oswald', sans-serif;
}
.dayselect {
    border: 3px solid rgb(255, 227, 70);
    background-color: rgb(18, 20, 39);
    color: white;
    font-size: 40px;
}
.othertitle {
    margin-top: 25px;
    font-size: 55px;
    color: white;
}
.armswo {
    border: 3px solid rgb(255, 227, 70);
    background-color: rgb(27, 30, 56);
    color: white;
    width: 60%;
    margin: auto;
}
.wrkimg {
    border: 3px solid rgb(255, 227, 70);
    width: 300px;
}
.dayofweek {
    border: 3px solid rgb(255, 227, 70);
    background-color: rgb(18, 20, 39);
    margin: auto;
    width: 70%;
}
.set {
    border: 3px solid rgb(255, 227, 70);
    width:fit-content;
    margin: auto;
    padding: 15px;
}
.myClass {
    background-color: rgb(83, 218, 83);
  }
  .myClass1 {
    background-color: rgb(83, 218, 83);
  }
  .myClass2 {
    background-color: rgb(83, 218, 83);
  }
  .myClass3 {
    background-color: rgb(83, 218, 83);
  }
  .myClass4 {
    background-color: rgb(83, 218, 83);
  }
  .myClass5 {
    background-color: rgb(83, 218, 83);
  }
  .myClass6 {
    background-color: rgb(83, 218, 83);
  }
  .myClass7 {
    background-color: rgb(83, 218, 83);
  }
  .myClass8 {
    background-color: rgb(83, 218, 83);
  }
  .myClass9 {
    background-color: rgb(83, 218, 83);
  }
  .myClass10 {
    background-color: rgb(83, 218, 83);
  }
  .myClass11 {
    background-color: rgb(83, 218, 83);
  }
  .myClass12 {
    background-color: rgb(83, 218, 83);
  }
  .myClass13 {
    background-color: rgb(83, 218, 83);
  }
  .myClass14 {
    background-color: rgb(83, 218, 83);
  }
  .myClass15 {
    background-color: rgb(83, 218, 83);
  }
  .myClass16 {
    background-color: rgb(83, 218, 83);
  }
  .myClass17 {
    background-color: rgb(83, 218, 83);
  }
  .myClass18 {
    background-color: rgb(83, 218, 83);
  }
  .myClass19 {
    background-color: rgb(83, 218, 83);
  }
  .myClass20 {
    background-color: rgb(83, 218, 83);
  }
  .myClass21 {
    background-color: rgb(83, 218, 83);
  }
  .myClass22 {
    background-color: rgb(83, 218, 83);
  }
  .myClass23 {
    background-color: rgb(83, 218, 83);
  }
  .myClass24 {
    background-color: rgb(83, 218, 83);
  }
  .myClass25 {
    background-color: rgb(83, 218, 83);
  }
  .myClass26 {
    background-color: rgb(83, 218, 83);
  }
  .myClass27 {
    background-color: rgb(83, 218, 83);
  }